/Harjoitukset/Tentti-2/nbproject/private/
/Tentit/Tentti-2/nbproject/private/
/Tentit/Tentti-2/build/
/Tentit/Tentti-2/dist/
/Harjoitukset/Harjoitukset/dist/
/Tentit/Tentti-3/nbproject/private/
/Tentit/Tentti-3/build/
/Tentit/Tentti-3/dist/
/Docs/
/Luennot/
.class
.log
.ctxt
.mtj.tmp/
hs_err_pid*
/Koodausharjoitus/nbproject/private/
/Koodausharjoitus/build/
/Koodausharjoitus/dist/
